<div class="visualization-container">
  <pk-round-table-view [guests]="guests"
    (swap)="swapGuests($event)"
    radius="150"></pk-round-table-view>
</div>
<div class="options-container">
  <section>
    <h3>Lista gości</h3>
    <pk-guests-list-view [guests]="guests">
      <button (click)="saveState()">Zapisz listę</button>
      <button (click)="loadState()">Wczytaj listę</button>
    </pk-guests-list-view>

  </section>
  <section>
    <h3>Sposób rozmieszczenia</h3>
    <pk-setting-guest-spot-options [options]="options"
      (changeState)="onChangeOptions($event)"></pk-setting-guest-spot-options>
  </section>
</div>